[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]in/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emory[Cc]aptures/
[Ss]erialized[Bb]uild[Ii]nfo/
[Uu][Ii][Ee]lements[Ss]chema/

.history/
Assets/Photon/

.vs/
.vscode/
.idea/
.gradle/

# Project files
[Ee]xported[Oo]bj/
.consulo/
*.csproj
*.unityproj
*.sln
*.pidb
*.user
*.userprefs
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity generated
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Builds
*.apk
*.unitypackage

# Apple
.DS_Store

# Crashlytics
crashlytics-build.properties

# Addressables
Assets/**/addressables_content_state.bin
Assets/**/addressables_content_state.bin.meta

Assets/BuildReports/
Assets/GeneratedLocalRepo/
Assets/GlobalEntitiesDependencies/
Assets/SceneDependencyCache/
